#include "minesweeper.h"

ID_ICON ICON "icons/button-flag.ico"
ID_FLAG_ICON ICON "icons/button-flag.ico"
ID_BUTTON_ICON ICON "icons/button.ico"
ID_MINE_ICON ICON "icons/mine0.ico"
ID_MINE_FAILED_ICON ICON "icons/mine-failed.ico"
ID_SMILEY_HAPPY_ICON ICON "icons/smiley-happy-background.ico"
ID_SMILEY_COOL_ICON ICON "icons/smiley-cool-background.ico"
ID_SMILEY_SHOCKED_ICON ICON "icons/smiley-happy-background.ico"
ID_SMILEY_SAD_ICON ICON "icons/cursed-smiley-background.ico"

IDR_MYMENU MENU
BEGIN
    POPUP "Game"
    BEGIN
        MENUITEM "New", ID_GAME_NEW
        MENUITEM SEPARATOR
        MENUITEM "Beginner", ID_GAME_BEGINNER, CHECKED
        MENUITEM "Intermediate", ID_GAME_INTERMEDIATE
        MENUITEM "Expert", ID_GAME_EXPERT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_GAME_EXIT
    END

    POPUP "Scores"
    BEGIN
        MENUITEM "Beginner", ID_SCORES_BEGINNER
        MENUITEM "Intermediate", ID_SCORES_INTERMEDIATE
        MENUITEM "Expert", ID_SCORES_EXPERT
    END

    POPUP "Help"
    BEGIN
        MENUITEM "How to play?", ID_HELP
    END
END
