#include "minesweeper.h"

ID_ICON ICON "icons/button-flag.ico"
ID_FLAG_ICON ICON "icons/button-flag.ico"
ID_BUTTON_ICON ICON "icons/button.ico"
ID_MINE_ICON ICON "icons/mine0.ico"
ID_MINE_FAILED_ICON ICON "icons/mine-failed.ico"

IDR_MYMENU MENU
BEGIN
    POPUP "Game"
    BEGIN
        MENUITEM "New", ID_GAME_NEW
        MENUITEM SEPARATOR
        MENUITEM "Beginner", ID_GAME_BEGINNER, CHECKED
        MENUITEM "Intermediate", ID_GAME_INTERMEDIATE
        MENUITEM "Expert", ID_GAME_EXPERT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_GAME_EXIT
    END

    POPUP "Help"
    BEGIN
        MENUITEM "How to play?", ID_HELP
    END
END
